.navbar {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 15%);
}

.searchInput {
  background-color: rgb(0, 0, 0, 0);
}
.containerStyle {
  margin-top: 0 !important;
}
