@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .card {
    background-color: theme('colors.white');
    border-radius: theme('borderRadius.lg');
    padding: theme('spacing.6');
    box-shadow: theme('boxShadow.xl');
  }
}

@layer base {
  html {
    font-family: Cairo;
  }
}

.signin-signout-input {
  background-color: rgb(0, 0, 0, 0);
  color: #fff;
  padding: 10px 18px 10px 18px;
  border: 1px solid rgba(222, 221, 221, 0.913);
}

.signin-signout-input:focus {
  outline: none;
  border-color: #fff;
}
.signin-signout-input::placeholder {
  color: #fff;
}
