@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .card {
    background-color: theme('colors.white');
    border-radius: theme('borderRadius.lg');
    padding: theme('spacing.6');
    box-shadow: theme('boxShadow.xl');
  }
}

@layer base {
  html {
    font-family: Cairo;
  }
}

.signin-signout-input {
  background-color: #2c2c2c;
  color: #fff;
  padding: 10px 18px 10px 18px;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.signin-signout-input:focus {
  outline: none;
  border-color: #e3e3e3;
}
